.icon {
  transition: all 0.35s ease;
  opacity: 1;
}

.icon:hover:before,
.icon:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.fb:hover {
  color: #4267b2;
}

.ig:hover {
  color: #8a3ab9;
}
