.kanvas {
  height: 500px;
  background-color: #afd3e0;
  border-radius: 10px;
}
.kanan {
  height: 500px;
  background-color: white;
  border-radius: 10px;
}
.kanvasadmin {
  height: 400px;
  width: 800px;
  border-radius: 10px;
}
.eye-button {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}
